click==6.7
Flask
Jinja2
requests==2.18.4
arrow==0.13.1
pandas
numpy
xlrd==1.1.0
sqlalchemy
openpyxl==2.2.5
retrying
xlsxwriter
fire==0.1.3
# fabric3
matplotlib
networkx
jieba
scipy
sklearn
gensim
bs4
bert-serving-server
bert-serving-client
